{% load staticfiles %}

<!DOCTYPE html>

<html>

	<head>
		<title>Distributed Social Network</title>

    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/styles.css" %}">

	</head>
	
	<body>


   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Distributed Social Network</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        {%block head%}
          <form class="navbar-form navbar-right" role="form" method="post" action="/home/">
              {% csrf_token %}
            <div class="form-group">
              <input placeholder="Username" class="form-control" type="text" name="username">
            </div>
            <div class="form-group">
              <input placeholder="Password" class="form-control" type="password" name="password">
            </div>
            <!--button type="submit" class="btn btn-success">Sign in</button-->
              <input type="submit" value="Log In" />

          </form>
            {%endblock%}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      {% block body %}
        <h1>Hello, world!</h1>
        <!--<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>-->
        
		<h1>
		<!--Thank you for joining, It'll be fun-->
		</h1>


<!--registration form-->
  
  
  <div class="bs-example">


        <h1>Register with Distributed Social</h1>

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/rango/">Return to the homepage.</a><br />
        {% else %}
        <strong>register here!</strong><br />

        <form id="user_form" method="post" action="../"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    <!--form class="form-horizontal">


        <div class="form-group">
            <label for="inputEmail" class="control-label col-xs-2">Username</label>
            <div class="col-xs-10">
                <input type="email" class="form-control" name="username" placeholder="Username">
            </div>
        </div>
        
        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Password</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
        
        
        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">First Name</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" name="firstname" placeholder="First Name">
            </div>
        </div>
        
        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Last Name</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" name="lastname" placeholder="Last Name">
            </div>
        </div>

   
        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Address</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" name="address" placeholder="Address">
            </div>
        </div>

   
        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Email</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" name="email" placeholder="Email">
            </div>
        </div>

   
        <div class="form-group">
            <label for="inputPassword" class="control-label col-xs-2">Phone</label>
            <div class="col-xs-10">
                <input type="password" class="form-control" name="phone" placeholder="Phone">
            </div>
        </div>




        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form-->
</div>

<!--registration form-->
  {% endblock %}
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="js/bootstrap.js"></script>

	</body>

</html>

