{% extends "index.html" %}
{%block head%}
{% include 'navigationbar.html' %}
{% endblock %}
{% block body %}

<div class="container">

<h2>Friend Request</h2>

<div class="row">

{% for afriendrequest in allfriendrequest %}

	<div class="col-md-4"><div class="panel panel-default">
		<div class="panel-heading"><p class="pull-right">Added You!</p><h4>{{ afriendrequest }}<h4></div>
		<div class="panel-body">
			<div class="list-group">
				<a class="list-group-item" href="/profile_post/{{ afriendrequest}}">Profile</a>
				{% if username != afriendrequest.user.username %}
					<a class="list-group-item" href="/confirmfriend/{{ afriendrequest }}">Confirm</a>
				{% endif %}
			</div>
		</div>
	</div></div>

{% endfor %}

</div>
</div>

{%endblock%}
