{% extends "index.html" %}

{%block head%}

{% include 'navigationbar.html' %}
{% endblock %}
{% block body %}
    {% for afriendrequest in allfriendrequest %}

                    <div class="link">
                        <h4>{{ afriendrequest.user.username }} Added You!</h4>
                    </div>

                    {% if username != afriendrequest.user.username %}
                    <div>
                        <a href="/#">
                            Confirm
                        </a>
                    </div>
                    {% endif %}
    {% endfor %}

{%endblock%}
