{% extends "index.html" %}

{%block head%}
        {% if user.is_authenticated %}
            {% include 'navigationbar.html' %}
        {% endif %}
{%endblock%}

{%block body%}
<h2>Home</h2>
<div id="post_form">
	{% if lenn %}
		{% for post in posts %}
			{% if post.mark_down %}
				<b>
			{% endif %}
			{%if post.post_author = user.post_author%}
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right">by <a href="/profile_post/{{post.post_author}}/">{{post.post_author}}</a></div>
						<h4><a href="/display/{{post.post_id}}/">{{post.post_title}}</a></h4>
					</div>
					<div class="panel-body">
						{% if post.image %}
							<img src="{{STATIC_URL}}../{{post.image}}" class="thumbnail" style="max-width:30%;max-height:200px;"  /> 
						{%else%}
						{% endif %}  
						<p>{{post.post_text}}</p>
						<p><form id="post_edit_form" method="post" action="/postcomment/{{post.post_id}}/{{user}}/" enctype="multipart/form-data">
							{% csrf_token %}
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input id="comment" maxlength="150" size="75%" name="comment" placeholder="comment...{{post.post_id}}" type="text" value = "{{username}}" /> 
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="submit" name="submit" class="btn btn-default" value="Submit">
						</form></p>
						<div class="col-md-8"><div class="list-group">
							{%for comment in comments %}
								{% if comment.post_id = post.post_id %}
									<div class="list-group-item">
										<a href="/profile_post/{{comment.comment_author}}/">{{comment.comment_author}}</a>
										:&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment_text}}<br/>
									</div>
								{% else %}
								{% endif %}
							{% endfor %}
						</div></div>
					</div>
				</div>
			{% elif post.visibility = 'FRIENDS' and post.post_author.user.username in friends%}
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right">by <a href="/profile_post/{{post.post_author}}/">{{post.post_author}}</a></div>
						<h4><a href="/display/{{post.post_id}}/">{{post.post_title}}</a></h4>
					</div>
					<div class="panel-body">
						{% if post.image %}
							<img src="{{STATIC_URL}}../{{post.image}}" class="thumbnail" style="max-width:30%;max-height:200px;"  /> 
						{%else%}
						{% endif %}  
						<p>{{post.post_text}}</p>
						<p><form id="post_edit_form" method="post" action="/postcomment/{{post.post_id}}/{{user}}/" enctype="multipart/form-data">
							{% csrf_token %}
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input id="comment" maxlength="150" size="75%" name="comment" placeholder="comment...{{post.post_id}}" type="text" value = "{{username}}" /> 
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="submit" name="submit" class="btn btn-default" value="Submit">
						</form></p>
						<div class="col-md-8"><div class="list-group">
							{%for comment in comments %}
								{% if comment.post_id = post.post_id %}
									<div class="list-group-item">
										<a href="/profile_post/{{comment.comment_author}}/">{{comment.comment_author}}</a>
										:&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment_text}}<br/>
									</div>
								{% else %}
								{% endif %}
							{% endfor %}
						</div></div>
					</div>
				</div>
			{%elif post.visibility = 'PUBLIC'%}
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right">by <a href="/profile_post/{{post.post_author}}/">{{post.post_author}}</a></div>
						<h4><a href="/display/{{post.post_id}}/">{{post.post_title}}</a></h4>
					</div>
					<div class="panel-body">
						{% if post.image %}
							<img src="{{STATIC_URL}}../{{post.image}}" class="thumbnail" style="max-width:30%;max-height:200px;"  /> 
						{%else%}
						{% endif %}  
						<p>{{post.post_text}}</p>
						<p><form id="post_edit_form" method="post" action="/postcomment/{{post.post_id}}/{{user}}/" enctype="multipart/form-data">
							{% csrf_token %}
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input id="comment" maxlength="150" size="75%" name="comment" placeholder="comment...{{post.post_id}}" type="text" value = "{{username}}" /> 
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="submit" name="submit" class="btn btn-default" value="Submit">
						</form></p>
						<div class="col-md-8"><div class="list-group">
							{%for comment in comments %}
								{% if comment.post_id = post.post_id %}
									<div class="list-group-item">
										<a href="/profile_post/{{comment.comment_author}}/">{{comment.comment_author}}</a>
										:&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment_text}}<br/>
									</div>
								{% else %}
								{% endif %}
							{% endfor %}
						</div></div>
					</div>
				</div>
			{%elif post.post_author.user.username in FOAF and post.visibility = 'FOAF'%}
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="pull-right">by <a href="/profile_post/{{post.post_author}}/">{{post.post_author}}</a></div>
						<h4><a href="/display/{{post.post_id}}/">{{post.post_title}}</a></h4>
					</div>
					<div class="panel-body">
						{% if post.image %}
							<img src="{{STATIC_URL}}../{{post.image}}" class="thumbnail" style="max-width:30%;max-height:200px;"  /> 
						{%else%}
						{% endif %} 
						<p>{{post.post_text}}</p>
						</div>
						<p><form id="post_edit_form" method="post" action="/postcomment/{{post.post_id}}/{{user}}/" enctype="multipart/form-data">
							{% csrf_token %}
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input id="comment" maxlength="150" size="75%" name="comment" placeholder="comment...{{post.post_id}}" type="text" value = "{{username}}" /> 
							&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="submit" name="submit" class="btn btn-default" value="Submit">
						</form></p>
						<div class="col-md-8"><div class="list-group">
							{%for comment in comments %}
								{% if comment.post_id = post.post_id %}
									<div class="list-group-item">
										<a href="/profile_post/{{comment.comment_author}}/">{{comment.comment_author}}</a>
										:&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment_text}}<br/>
									</div>
								{% else %}
								{% endif %}
							{% endfor %}
						</div></div>
					</div>
				</div>
			{% endif %}
			{% if post.mark_down  %}
			</b>
			{% endif %}  
		{% endfor %}
	{%else%}
		<h1>No comments</h1>
	{% endif %}

	{%for p in getPost%}
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color:#F4FFFF">
				<div class="pull-right">by <a href="/profile_post/{{p.author.id}}/">{{p.author.displayname}}</a></div>
				<h4><a href="/display/{{p.guid}}/">{{p.title}}</a></h4>
			</div>
			<div class="panel-body">
				{% if p.image %}
					<img src="{{STATIC_URL}}../{{post.image}}" style="max-width:20%;max-height:200px;"/>
				{%else%}  
				{% endif %}
				<p>{{p.content}}</p>
				<p><form id="post_edit_form" method="post" action="/postcomment/{{p.guid}}/{{user}}/" enctype="multipart/form-data">
					{% csrf_token %}
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input id="comment" maxlength="150" size="75%" name="comment" placeholder="comment...{{p.guid}}" type="text" value = "{{username}}" />
					&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="submit" class="btn btn-default" value="Submit">
				</form></p>
				
				<div class="col-md-8"><div class="list-group">
				
					{%for comment in comments %}
					    
						{% if comment.post_id = p.guid %}
									<div class="list-group-item">
										<a href="/profile_post/{{comment.comment_author}}/">{{comment.comment_author}}</a>
										:&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment_text}}<br/>
									</div>
								{% else %}
						{% endif %}
					{% endfor %}
				</div></div>
			</div>
		</div>
	{%endfor%}

	{%for p in getPost2%}
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color:#F0FFE0">
				<div class="pull-right">by <a href="/profile_post/{{p.author.id}}/">{{p.author.displayname}}</a></div>
				<h4><a href="/display/{{p.guid}}/">{{p.title}}</a></h4>
			</div>
			<div class="panel-body">
				{% if p.image %}
					<img src="{{STATIC_URL}}../{{post.image}}" style="max-width:20%;max-height:200px;"/>
				{%else%}  
				{% endif %}
				<p>{{p.content}}</p>
				<p><form id="post_edit_form" method="post" action="/postcomment/{{p.guid}}/{{user}}/" enctype="multipart/form-data">
					{% csrf_token %}
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input id="comment" maxlength="150" size="75%" name="comment" placeholder="comment...{{post.post_id}}" type="text" value = "{{username}}" />
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="submit" name="submit" class="btn btn-default" value="Submit">
				</form></p>
				<div class="col-md-8"><div class="list-group">
					{%for comment in comments %}
						{% if comment.post_id = p.guid %}
									<div class="list-group-item">
										<a href="/profile_post/{{comment.comment_author}}/">{{comment.comment_author}}</a>
										:&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment_text}}<br/>
									</div>
								{% else %}
								{% endif %}
					{% endfor %}
				</div></div>
			</div>
		</div>
	{%endfor%}

</div>
{%endblock%}

