{% extends "index.html" %}

{%block head%}
        {% if user.is_authenticated %}

            <a class="navbar-brand" href="#">hello {{ user.username }}!</a>
            <a class="navbar-brand" href="/profile/">Profile</a>
            <a class="navbar-brand" href="/post/">CreateNewPost</a>
            <a class="navbar-brand" href="/searchposts/">Search Posts</a>
            <a class="navbar-brand" href="/searchusers/">Search Users</a>
            <a class="navbar-brand" href="/searchusers/">Add Friends</a>
            <a class="navbar-brand" href="/rest/">Rest</a>

            <a class="navbar-brand" href="/logout/">Logout</a>

            
        {% endif %}
{%endblock%}

{%block body%}
        </br>
        </br>

        {% if user.is_authenticated %}
            <h1>hello {{ user.username }}!</h1>
            <a href="/logout/">Logout</a><br />
        {% else %}
            <h1>not authenticated!</h1>
        {% endif %}

{%endblock%}
