{% extends "index.html" %}

{%block head%}
	{% if user.is_authenticated %}
		<a class="navbar-brand" href="#">hello {{ user.username }}!</a>
		<a class="navbar-brand" href="/post/">CreateNewPost</a>
		<a class="navbar-brand" href="/logout/">Logout</a>
	{% endif %}
{%endblock%}

{%block body%}

	<div class="center-block" id="user-login">
		{% if not error %}
			<h2 class="form-signin-heading">Please sign in</h2>
		{%else%}
			<h2 class="form-signin-heading">Not match</h2>
		{% endif %}

	<div class="panel panel-default"><div class="panel-body">
		<form role="form" method="post">
			{% csrf_token %}
			<br><input type="text" name="username" class="form-control" placeholder="Username" required autofocus />
			<br><input type="password" name="password" class="form-control" placeholder="Password" required />
			<br><button class="login-submit" type="submit">Sign in</button>
		</form>
		<br><div class = "register"><a href="/register">Register</a></div>
	</div></div>

{%endblock%}
