{% extends "index.html" %}

{%block head%}
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="#">hello {{ user.username }}!</a>
            <a class="navbar-brand" href="/logout/">Logout</a>
            
        {% endif %}
{%endblock%}

{%block body%}
        </br>
        </br>

       <form id="post_form" method="post" action="home.html"
                enctype="multipart/form-data">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->

            {{ post_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Submit" />
        </form>

{%endblock%}
