{% extends "index.html" %}
{% load staticfiles %}
{%block head%}
        {% if user.is_authenticated %}
		{% include 'navigationbar.html' %}
        {% endif %}
{%endblock%}

{%block body%}

<h2>Profile</h2>

{% if edit == '0' or edit == '2' %}

	<div class="panel panel-default">
		<div class="panel-heading">
			{% if edit == '0' %}
				<a href="/profile1/" class="pull-right">Edit</a><h4>User Info</h4>
			{% else %}
			{% endif %}
		</div>
		<div class="panel-body">
			<div class="list-group">
				{% if picture %}
					<div class="list-group-item"><img style="max-width:30%;max-height:250px" src="{{STATIC_URL}}../{{picture}}"/></div>
				{% else %}
					<div class="list-group-item"><img style="max-width:30%;max-height:250px" src="https://avatars3.githubusercontent.com/u/10636654?v=3&s=200"/></div>
				{% endif %}
				<div class="list-group-item"><label for="id_username">Username:</label>&nbsp;&nbsp;&nbsp;&nbsp;{{username}}</div>
				<div class="list-group-item"><label for="id_email">Email address:</label>&nbsp;&nbsp;&nbsp;&nbsp;{{email}}</div>
				<div class="list-group-item"><label for="github">github username:</label>&nbsp;&nbsp;&nbsp;&nbsp;{{github_username}}</div>

				{% if username not in followed %}
					<a href="/follow/{{ id}}"  class="list-group-item">Follow</a>
					{% if username not in allpending %}
						<a href="/addfriend/{{ id}}" class="list-group-item">Befriend</a>
					{% elif username in allfriends %}
						<a href="/unfriend/{{ username}}" class="list-group-item">Unfriend</a>
					{% endif %}
				{% else %}
					{% if username in followed %}
						<a href="/unfollow/{{ id}}" class="list-group-item">Unfollow</a>
						{% if username not in allpending %}
		    					<a href="/addfriend/{{ id}}" class="list-group-item">Befriend</a>
						{% elif username in allfriends %}
		    					<a href="/unfriend/{{ username}}" class="list-group-item">Unfriend</a>
						{% endif %}
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>

	{%for p in posts %}
		{% if p.post_author.user.username = username %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="pull-right">by <a href="/profile_post/{{p.post_author}}/">{{p.post_author}}</a></div>
					<h4><a href="/display/{{p.post_id}}/">{{p.post_title}}</a></h4>
				</div>
				<div class="panel-body">
					{% if p.image %}
						<img src="{{STATIC_URL}}../{{p.image}}" class="thumbnail" style="max-width:30%;max-height:250px;"/>
					{%else%}  
					{% endif %}
					{{p.post_text}}
				</div>
			</div>
		{% endif %}     
	{% endfor %}

	{%for p in post %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right">by<a href="/profile_post/{{p.author.id}}/">{{p.author.displayname}}</a></div>
				<h4><a href="/display/{{p.guid}}/">{{p.title}}</a></h4>
			</div>
			<div class="panel-body">
				{% if p.image %}
					<img src="{{STATIC_URL}}../{{post.image}}" class="thumbnail" style="max-width:30%;max-height:200px;"/> <br>
				{%else%}
				{% endif %}
				{{p.content}}
				{%for comment in p.comments %}
					<div class="list-group">
						<div class="list-group-item">
							<a href="/profile_post/{{comment.author.id}}/">{{comment.author.displayname}}</a>
							:&nbsp;&nbsp;&nbsp;&nbsp;{{comment.comment}}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>	
	{%endfor%}
	
{% endif %}

{% if edit == '1' %}

<form id="user_form" method="post" action="/profile_edit/"
        enctype="multipart/form-data">
        {% csrf_token %}
	 <div class="panel panel-default">
	 <div class="panel-body">
	 <div class="panel-more1">
	<label for="id_username">Username:</label> </br>
    <input id="id_username" maxlength="30" name="username" type="text" value = "{{username}}" /> </div></div></div>
	 <div class="panel panel-default">
	 <div class="panel-body">
	 <div class="panel-more1">
    <label for="id_email">Email address:</label> </br>
    <input id="id_email" maxlength="75" name="email" type="email" value = "{{email}}" /> </div></div></div>
	 <div class="panel panel-default">
	 <div class="panel-body">
	 <div class="panel-more1">
    <label for="github">github username:</label> </br>
    <input id="id_website" maxlength="200" name="github_username" type="text" value = "{{github_username}}" /> </div></div></div>
	 <div class="panel panel-default">
	 <div class="panel-body">
	 <div class="panel-more1">
    <label for="id_picture">Picture:</label> </br>
    <input id="id_picture" name="picture" type="file" onchange="readURL(this);" class="btn btn-default"/> </br>
    <img style="width:20%;height:150px;" id="blah" src="{{STATIC_URL}}../{{picture}}" alt="your image" />  </div></div></div>
    <!-- Provide a button to click to submit the form. -->
    <input type="submit" name="submit" value="Submit" onclick = "return checkEmpty();" class="btn btn-default"/>
</form>

{% endif %}


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("feeds", "1");</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

{% if github_username %}
	<div class="panel panel-default">
		<div class="panel panel-heading">
			<h4>Github Activity</h4>
		</div>
		<div class="panel-body">
			<span id="rss_block"></span>
		</div>
	</div>
{% endif %}

<script>
function myFunction() {
var feed = "";
if ("{{github_username}}") {
feed = new google.feeds.Feed('https://github.com/{{github_username}}.atom');
}else{
feed = new google.feeds.Feed('https://github.com/diego04.atom');
}
feed.load(function (data) {
	//alert(JSON.stringify(data));
    // Parse data depending on the specified response format, default is JSON.
    if (data['status']['code'] < 300 || data['status']['code'] >= 200){
var theBlock = $("#rss_block");
                    theBlock.append( ("<br>"));

    theBlock.append( document.createTextNode(JSON.stringify(data['feed']['title'])));
                    theBlock.append( ("<br>"));

    theBlock.append( document.createTextNode(JSON.stringify(data['feed']['link'])));
                    theBlock.append( ("<br>"));

    //entries = jQuery.parseJSON(data['feed']['entries'])
        entries = jQuery.parseJSON(JSON.stringify(data['feed']['entries']));

        //theBlock.append( document.createTextNode(JSON.stringify(entries)));

    $.each((entries), function(key,value){
    theBlock.append( document.createTextNode(JSON.stringify(value['title'])));
                theBlock.append( ("<br>"));

        theBlock.append( document.createTextNode(JSON.stringify(value['link'])));
                theBlock.append( ("<br>"));

        theBlock.append( document.createTextNode(JSON.stringify(value['author'])));
                theBlock.append( ("<br>"));

        theBlock.append( document.createTextNode(JSON.stringify(value['publishedDate'])));
                theBlock.append( ("<br>"));

        theBlock.append((JSON.stringify(value['content'].replace(new RegExp('\r?\n','g'), '<br>'))));
                theBlock.append( ("<br>"));


    //theBlock.append( ('ei'));

    });
    /*for (x=0; x < entries.length; x++){

    $theBlock.append( document.createTextNode(entries[x]));
        theBlock.append( document.createTextNode(entries[x]));

    //theBlock.append( document.createTextNode((x)));

    	}//for */
    }//if conditional on 'ok' status code

});

}
myFunction();
</script>


{%endblock%}
