{% extends "index.html" %}
{% load staticfiles %}
{%block head%}
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="#">hello {{ user.username }}!</a>
            <a class="navbar-brand" href="/post/">CreateNewPost</a>
            <a class="navbar-brand" href="/logout/">Logout</a>
            
        {% endif %}
{%endblock%}

{%block body%}
        </br>
        </br>
        <h1>Profile</h1>
        <h1>{{username}}</h1>
        <h1>{{email}}</h1>
        <h1>{{github_username}}</h1>
	    <h1>{{picture}}</h1>
	<img src="{{STATIC_URL}}../{{picture}}" style="width:100px;height:100px;"  /> 

{%endblock%}
