{% extends "index.html" %}
{%block head%}

{% include 'navigationbar.html' %}
{% endblock %}

{% block body %}

<h2>Search Authors</h2>

<!-------- Search box unfinished --------
<div class="panel panel-default">
	<div class="panel-body">
		<form id="search_author" method="post" action="/searchusers/"
			enctype="multipart/form-data">
			{% csrf_token %}
			<input id="id_username" maxlength="75" type="text" value = "Enter author name..." />
			<input type="submit" name="search" value="Search" onclick = "return checkEmpty();" class="btn btn-default"/>
		</form>
	</div>
</div>
<----------------------------------------->

<div class="container">
<div class="row">


	{% for author in authors %}
	<div class="col-md-4"><div class="panel panel-default">
		<div class="panel-heading">
			<p class="pull-right">Group: 7</p>
			<a href="/profile_post/{{author.user}}/"> <h4>{{ author.user.username }}</h4> </a>
		</div>
		<div class="panel-body">
			<div class="col-md-6"><div class="thumbnail">
				<img src="{{STATIC_URL}}../{{ author.picture}}">
			</div></div>
			<div class="col-md-6"><div class="list-group">
				<a href="/profile_post/{{ author.user.username}}" class="list-group-item">Profile</a>
				{% if author.user.username not in followed and username != author.user.username %}
					<a href="/follow/{{ author.user.pk}}"  class="list-group-item">Follow</a>
					{% if author.user.username not in allpending %}
						<a href="/addfriend/{{ author.user.pk}}" class="list-group-item">Befriend</a>
					{% elif author.user.username in allfriends %}
						<a href="/unfriend/{{ author.user.username}}" class="list-group-item">Unfriend</a>
					{% endif %}
				{% else %}
					{% if  username != author.user.username %}
						<a href="/unfollow/{{ author.user.pk}}" class="list-group-item">Unfollow</a>
						{% if author.user.username not in allpending %}
		    					<a href="/addfriend/{{ author.user.pk}}" class="list-group-item">Befriend</a>
						{% elif author.user.username in allfriends %}
		    					<a href="/unfriend/{{ author.user.username}}" class="list-group-item">Unfriend</a>
						{% endif %}
					{% endif %}
				{% endif %}
			</div></div>
		</div>
	</div></div>
	{% endfor %}

	{% for author in foreignauthors %}
	<div class="col-md-4"><div class="panel panel-default">
		<div class="panel-heading">
			<p class="pull-right">Group: other group</p>
			<a href="/profile_post/{{author.id}}/"><h4>{{ author.displayname}}<h4></a>
		</div>
		<div class="panel-body">
			<div class="col-md-6"><div class="thumbnail">
				<img src="http://data1.ibtimes.co.in/en/full/439940/earth-wiki-commons.jpg">
			</div></div>
		</div>
	</div></div>
	{% endfor %}

</div>
</div>
{%endblock%}

