{% extends "index.html" %}
{%block head%}

{% include 'navigationbar.html' %}
{% endblock %}

{% block body %}
<div class="container">
<div class="row">

	{% for authorlist in foreignauthors %}
	<div class="col-md-4"><div class="panel panel-default">
		<div class="panel-heading">
			<p class="pull-right">Group: 6</p>
			<h4>{{ authorlist.displayname}}<h4>
		</div>
		<div class="panel-body">
			<p style="color:green;">Group 6 needs to implement!</p>
			<div class="col-md-6"><div class="thumbnail">
				<img src="http://upload.wikimedia.org/wikipedia/commons/1/14/Nature%27s_Number_6.jpg">
			</div></div>
			<div class="col-md-6"><div class="list-group">
				<a href="#group6 needs to implement" class="list-group-item">View Info</a>
				<a href="#group6 needs to implement"  class="list-group-item">View Posts</a>
				<a href="#group6 needs to implement" class="list-group-item">Follow</a>
				<a href="#group6 needs to implement"  class="list-group-item">Add Friend</a>
			</div></div>
		</div>
	</div></div>
	{% endfor %}

	{% for author in authors %}
	<div class="col-md-4"><div class="panel panel-default">
		<div class="panel-heading">
			<p class="pull-right">Group: 7</p>
			<h4>{{ author.user.username }}<h4>
		</div>
		<div class="panel-body">
			<div class="col-md-6"><div class="thumbnail">
				<img src="http://farm2.staticflickr.com/1119/1328426678_6c633e60fc_z.jpg?zz=1">
			</div></div>
			<div class="col-md-6"><div class="list-group">
				<a href="#" class="list-group-item">View Info</a>
				<a href="#" class="list-group-item">View Posts</a>
				{% if author.user.username not in followed and username != author.user.username %}
					<a href="/follow/{{ author.user.pk}}"  class="list-group-item">Follow</a>
					{% if author.user.username not in allpending %}
						<a href="/addfriend/{{ author.user.pk}}" class="list-group-item">Add Friend</a>
					{% elif author.user.username in allfriends %}
						<a href="/unfriend/{{ author.user.username}}" class="list-group-item">Unfriend</a>
					{% endif %}
				{% else %}
					{% if  username != author.user.username %}
						<a href="/unfollow/{{ author.user.pk}}" class="list-group-item">UnFollow</a>
						{% if author.user.username not in allpending %}
		    					<a href="/addfriend/{{ author.user.pk}}" class="list-group-item">Add Friend</a>
						{% elif author.user.username in allfriends %}
		    					<a href="/unfriend/{{ author.user.username}}" class="list-group-item">Unfriend</a>
						{% endif %}
					{% endif %}
				{% endif %}
			</div></div>
		</div>
	</div></div>
	{% endfor %}

	{% for author in foreignauthors %}
	<div class="col-md-4"><div class="panel panel-default">
		<div class="panel-heading">
			<p class="pull-right">Group: foreign</p>
			<h4>{{ author.displayname}}<h4>
		</div>
		<div class="panel-body">
			<div class="col-md-6"><div class="thumbnail">
				<img src="http://data1.ibtimes.co.in/en/full/439940/earth-wiki-commons.jpg">
			</div></div>
		</div>
	</div></div>
	{% endfor %}

</div>
</div>
{%endblock%}

